* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;}


.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 22px 40px;
  background-color: #EAF3E4;
  border-bottom: 1px solid #D9E3D5;
  font-size: 18px;

}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 600;
    background: linear-gradient(90deg, #2F9E4E, #2f9e4e60);
  -webkit-background-clip: text;
  color: transparent;
}

.nav-links {
  font-family: 'Inter', sans-serif;
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #536056;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #9bd09e;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar{
  position:relative;
  width: 250px;
  height: 40px;
  background-color: #F4F8F2;
  border: 1px solid #D6E4D0;
  border-radius: 30px;
   display: flex;
  align-items: center;
  padding-left: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.search-input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 17px;
  color: #2F3C33;
}



.icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}


.contact-hero {
  text-align: center;
  padding: 70px 20px;
  background: linear-gradient(
    to bottom,
     #c7d9c0 0%,   
    #deebd9 60%,
    #e8efe6 100%
  );
}

.contact-hero h1 {
  font-size: 36px;
  font-family: 'PlayDisplay', serif;
}

.contact-hero p {
  max-width: 600px;
  margin: 10px auto;
  color: #5b6d63;
}

.contact-section {
  background: linear-gradient(
    to bottom,
    #e8efe6 0%,   
    #deebd9 60%,
    #e8efe6 100%
  );
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  gap: 80px;
  padding: 80px 40px;
  width: 100%;
  margin: 0;
}

.contact-info {
  max-width: 450px;
  margin-left: 0px;
}

.contact-info h2 {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: '';
}
.contact-info p {
  width: 100%;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  color: #1f352aca;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 15px 0;
}
.info-box h3{
  font-family: '';
}
.info-box p {
  font-family: 'Poppins', sans-serif;
  color: #1f352aca;
}

.info-box .icon {
  width: 60px;
  background: #dff0d9;
  padding: 15px;
  border-radius: 50%;
  margin-top: -50px ;
}

.contact-form {
  background: #ffffff;
  padding: 30px;
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 0;
  transition: transform 0.3s ease; 
}

.contact-form:hover{
  transform: scale(1.02);
  border: 1px solid green;
}

.contact-form label {
  font-weight: 500;
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #d3ded4;
  border-radius: 6px;
  font-size: 14px;
  background-color: #f9fdf8;
  font-family:'Poppins', sans-serif;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.btn-submit {
  margin-top: 15px;
  padding: 14px;
  background-color: #2ebc6c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #24a15a;
}








.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  background-color: #DDEBD8;
}

.footer-left {
  max-width: 300px;
}

.footer-logo {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: #293D33;
  margin-bottom: 14px;
}

.footer-text {
  color: #6B756D;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links h4 {
  margin-bottom: 12px;
  color: #293D33;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #6B756D;
  font-size: 14px;
}

.footer-links a:hover {
  color: #2F9E4E;
}

.footer-social h4 {
  margin-bottom: 12px;
  color: #293D33;
}
.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons a {
  width: 50px;
  height: 50px;
  background-color: #DDEBD8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}


.social-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.copyright {
  text-align: center;
  padding: 20px;
  color: rgb(60, 58, 58);
  font-size: 14px;
  background-color: #DDEBD8;;
}

@media (max-width: 992px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
    padding: 40px 16px;
  }

  .contact-info {
    text-align: center;
    max-width: 100%;
  }

  .footer {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
}

