* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;
  background: linear-gradient(
    to bottom,
    #c7d9c0 0%,
    #deebd9 40%,
    #eef4ec 100%
  );
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 40px;
  background-color: #EAF3E4;
  border-bottom: 1px solid #D9E3D5;
  font-size: 18px;

}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 600;
    background: linear-gradient(90deg, #2F9E4E, #2f9e4e60);
  -webkit-background-clip: text;
  color: transparent;
}

.nav-links {
  font-family: 'Inter', sans-serif;
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #536056;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #9bd09e;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar{
  position:relative;
  width: 250px;
  height: 40px;
  background-color: #F4F8F2;
  border: 1px solid #D6E4D0;
  border-radius: 30px;
   display: flex;
  align-items: center;
  padding-left: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.search-input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 17px;
  color: #2F3C33;
}



.icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.hero {

 background: linear-gradient(
    to bottom,
     #c7d9c0 0%,   
    #deebd9 60%,
    #eef4ec 100%
  );
   
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 40px 120px;

  gap:40px;
}

.hero-text {
  flex: 1;
  max-width: 500px;
}

.hero-title {
  font-family: 'Playfair Display', serif;
  font-size: 54px;
  line-height: 1.1;
  font-weight: 600;
  color: #1F352A; 
  margin-bottom: 18px;
}

.hero-title .highlight {
  color: #2F9E4E; 
  margin-bottom: 18px;
}


.hero-sub {
  font-size: 15px;
  color: #6B756D;
  margin-bottom: 28px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-green {
  background-color: #2F9E4E;
  color: white;
  padding: 12px 26px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
}

.btn-green:hover {
  background-color: #236c26;
}

.btn-outline {
  background-color: #eef4ec ;
  border: 1px solid #2a7d2e;
  color: #2a7d2e;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 28px;
  font-weight: 500;
  
}

.btn-outline:hover {
  background-color: #2a7d2e;
  color: white;
}

.hero-img{
  position: relative;
  display: flex;
  align-items: center;  
  justify-content: space-between;
  gap: 20px;
}


.hero-img img {
  height: 340px;  
  width: 520px;  
  object-fit: cover;           
  max-width: 100%;
  border-radius: 32px;
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.18);

}

.hero-arrow {
  background: rgba(255, 255, 255, 0.573);
  border: none;
  font-size: 22px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
  color: #2F9E4E;
}

.top-picks {
  padding: 80px 40px 40px; 
  text-align: center;
 
  margin-top: -50px;
  background-color: #eef4ec;
   background: linear-gradient(
    to bottom,
    #eef4ec 0%,
    #f4f8f3 100%
   )

}

.top-picks h2 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: #293D33;
  margin-bottom: 10px;
}

.section-text {
  color: #6B756D;
  max-width: 600px;
  margin: 0 auto 40px;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  max-width: 1080px; 
  margin: 0 auto; 
 
}

.product {
  background-color: #FFFFFF;
  width: 280px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
  transition: transform 0.3s ease; 
  
}

.product:hover {
  transform: translateY(-5px);
  border: 1px solid green;
}

.product-image {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 24px;
  margin-bottom: 14px;
}

.product-name {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 6px;
}

.product-desc {
  font-size: 13px;
  color: #6B756D;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.product-button {
  background-color: #EAF3E4;
  padding: 10px 20px;
  width: 100%;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 500;
 
}

.product-button:hover {
  background-color: #daebd4;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 40px 80px; 
  background-color: #f4f8f3;
 
}

.info-card {
  background-color: #FFFFFF;
  width: 300px;
  padding: 40px 30px;
  border-radius: 40px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
  text-align: center;

  
  display: flex;
  flex-direction: column;
}


.info-card:hover{
  border:1px solid green;
}




.card-title {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: #293D33;
  margin-bottom: 10px;
}

.card-text {
  color: #666;
  margin-bottom: 20px;
}

.btn-light {
  border: 1px solid #2F9E4E;
  padding: 10px 24px;
  border-radius: 30px;
  text-decoration: none;
  color: #2F9E4E;
  font-weight: 500;

}

.btn-light:hover {
  background-color: #2a7d2e;
  color: white;
}
/*  footer */ 
.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  background-color: #DDEBD8;
}

.footer-left {
  max-width: 300px;
}

.footer-logo {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: #293D33;
  margin-bottom: 14px;
}

.footer-text {
  color: #6B756D;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links h4 {
  margin-bottom: 12px;
  color: #293D33;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #6B756D;
  font-size: 14px;
}

.footer-links a:hover {
  color: #2F9E4E;
}

.footer-social h4 {
  margin-bottom: 12px;
  color: #293D33;
}
.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons a {
  width: 50px;
  height: 50px;
  background-color: #DDEBD8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}


.social-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.copyright {
  text-align: center;
  padding: 20px;
  color: rgb(60, 58, 58);
  font-size: 14px;
  background-color: #DDEBD8;;
}



.skin-type-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;                
  max-width: 1200px;        
  margin: 60px auto;         
  padding: 0 40px;  
  
  
}





.homepage-blur-right , .homepage-blur-left {
  position: absolute;            
  width: 300px;                  
  height: 300px;                 
  background: #49c16d;          
  filter: blur(70px);                         
  border-radius: 50%;           
}

.homepage-blur-left {
  left: 0px;
  top: 50px;
}

.homepage-blur-right {
  right: 0px;
  top: -20px;
}

.skin-type-section-wrapper {
  position: relative;
  background-color:#eef4ec;
  padding: 60px 0;  
  
  
  
  
}




.skin-type-info {
  flex: 0 0 40%;             
  padding-top: 15px;   
   
}   



.skin-type-info h4 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #293D33;
    margin-bottom: 10px;
}

.skin-type-info p {
    color: #6B756D;
    font-size: 16px;
    line-height: 1.6;
}

.skin-type-section {
  flex: 0 0 55%;             
  max-width: 650px;
  text-align: center;
  padding: 30px 20px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.18);
  margin: 0;   
  transition: transform 0.3s ease; 

  
  
           
}

.skin-type-section:hover{
  transform: scale(1.02);
  border: 1px solid green;
}


.skin-type-section h3 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  color: #293D33;
  margin-bottom: 8px;
}



.skin-type-section p {
  color: #6B756D;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.skin-type-btn {
  display: inline-block;
  padding: 12px 28px;
  background-color: #2F9E4E;
  color: white;
  border-radius: 30px;
  font-weight: 500;
  text-decoration: none;
  
}

.skin-type-btn:hover {
  background-color: #236c26;
}




@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
    flex-direction: column;
    gap: 15px;
  }
  
  .hero {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }
  
  .hero-buttons {
    justify-content: center;
  }
  
  .info-cards {
    flex-direction: column;
    align-items: center;
  }
  
  .footer {
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
  }
  
  .footer-links {
    flex-direction: column;
    gap: 30px;
  }

}
