
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 40px;
  background-color: #EAF3E4;
  border-bottom: 1px solid #D9E3D5;
  font-size: 18px;

}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 600;
    background: linear-gradient(90deg, #2F9E4E, #2f9e4e60);
  -webkit-background-clip: text;
  color: transparent;
}

.nav-links {
  font-family: 'Inter', sans-serif;
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #536056;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #9bd09e;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar{
  position:relative;
  width: 250px;
  height: 40px;
  background-color: #F4F8F2;
  border: 1px solid #D6E4D0;
  border-radius: 30px;
   display: flex;
  align-items: center;
  padding-left: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.search-input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 17px;
  color: #2F3C33;
}



.icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}


.st-hero{
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("images/skin-test/backround.jpg");
  background-size: cover; 
  background-position:initial;
  background-repeat: no-repeat;
  position: relative;
}

.st-pill{
display: inline-block;
padding: 8px 18px;
background: white;
border-radius: 30px;
box-shadow: 0 4px 12px rgba(0,0,0,0.14);
font-size: 13px;
color: #1F352A;
margin-bottom: 16px;
}

.st-heading{
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  font-weight: 700;
  color: #1F352A;
  
}

.st-heading span{
  color: #24a15a;
  margin-bottom: 10px;
}

.st-subtext{
  font-size: 15px;
  color: #2F3C33;
  line-height: 1.5;
  
}


.st-quiz{
  background: linear-gradient(
    to bottom,
     #c7d9c0 0%,   
    #deebd9 60%,
    #e8efe6 100%
  );
  padding: 60px 20px 80px;
  display: flex;
  justify-content: center;
 
  

}




.st-quiz-card{
  max-width: 600px;
  width:100%;
  background: #FFFFFF;
  border-radius: 24px;
  padding: 26px 24px 30px; 
  box-shadow: 0 18px 40px rgba(0,0,0,0.15); 
  transition: transform 0.3s ease; 
}

.st-quiz-card:hover{
  transform: scale(1.025);
  border: 1px solid green;

}

.st-quiz-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.st-quiz-step{
  color:#555;
}

.st-quiz-percent{
  color: #2ba552;
  font-weight: 600;

}

.st-quiz-bar{
  width:100%;
  height:14px;
  background: rgb(235, 232, 232) ;
  border-radius: 999px;
  margin-bottom: 20px;
}

.st-quiz-bar-fill{
  background: #24a15a;
  height: inherit;
  border-radius: inherit;
}

.st-quiz-question{
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  margin-bottom: 16px;
  color: #1f2e26;

}

.st-quiz-options{
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.st-option{
  position: relative;
  padding: 10px 40px 10px 42px;
  border-radius: 999px;
  border: 1px solid #dcecd8;
  background: #f9fbf7 ;
  font-size: 14px;
  color: #354339;
  cursor: pointer;
  margin-bottom: 7px;

}



.st-option:hover {
  border-color: #9fd6a2;
}

.st-quiz-btn{
  display: block;
  margin:24px;
  padding: 10px 40px;
  border-radius:999px;
  border:none;
  background: #2f9e4e;    
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0,0,0,0.18);

}

.st-quiz-btn:hover{
  background: #24863b;
  
}


.skin-benefits{
  position: relative;
  padding: 100px 20px;
  text-align: center;
  background-color: #e8efe6 ;
 
}

.skin-benefits-title{
  font-family: "Playfair Display", serif;
  font-size: 32px;
  color: #1f352a;
  margin-bottom: 10px;
}

.skin-benefits-sub{
  color: #5b6d63;
  font-size: 16px;
  margin-bottom: 40px;
}

.benefit-cards{
  display: flex;
  justify-content: center;
  gap:30px;
  margin-bottom: 100px;
  
}

.benefit-card{
  width: 400px;
  background: #FFFFFF;
  padding: 40px 25px;
  border-radius: 28px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.10);
  text-align: center;
  transition: transform 0.3s ease; 
}

.benefit-card:hover{
  border: 1px solid green;
  transform: translateY( 10px);

  
}

.benefit-icon{
  width:70px;
  height:70px;
  margin: 0 auto 15px;
  background-color: #e8f2e8; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.benefit-icon img{
  width:40px;
  height:40px;
}

.benefit-card h3{
  font-family: "Playfair Display", serif; 
  font-size:18px;
  margin-bottom: 8px;
  color: #1f352a; 

}

.benefit-card p{
  color:#6b756d;
  font-size:14px;
  line-height:1.5;
}

.blur-left{
  position:absolute;
  width:300px;
  height:300px;
  border-radius:50%;
  background:#2ebc6c;
  filter:blur(100px);
  

}

.blur-right{
  position:absolute;
  width:350px;
  height:400px;
  border-radius:50%;
  background:#2ebc6c;
  filter:blur(100px);
  

}

.blur-right{
  top:-200px;
  right:0px;
}

.blur-left{
  bottom:0px;
  left:0px
}



.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  background-color: #DDEBD8;
}

.footer-left {
  max-width: 300px;
}

.footer-logo {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: #293D33;
  margin-bottom: 14px;
}

.footer-text {
  color: #6B756D;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links h4 {
  margin-bottom: 12px;
  color: #293D33;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #6B756D;
  font-size: 14px;
}

.footer-links a:hover {
  color: #2F9E4E;
}

.footer-social h4 {
  margin-bottom: 12px;
  color: #293D33;
}
.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons a {
  width: 50px;
  height: 50px;
  background-color: #DDEBD8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}


.social-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.copyright {
  text-align: center;
  padding: 20px;
  color: rgb(60, 58, 58);
  font-size: 14px;
  background-color: #DDEBD8;;
}




@media (max-width: 768px) {

    .st-hero {
    height: auto;             
     padding: 40px 16px;
    background-position: center;
  }

  .st-heading {
    font-size: 28px;
  }

  .st-subtext {
    font-size: 14px;
  }


  .st-quiz-card {
    max-width: 380px;         
    width: 100%;
    padding: 20px 16px 24px;
    margin: 0 auto;            
  }

  .st-quiz-question {
    font-size: 16px;
  }

  .st-option {
    font-size: 13px;
    padding: 10px 16px 10px 40px;
  }

  .st-quiz-btn {
    width: 100%;   
    margin: 20px 0 0;
  }

  
  .skin-benefits {
    padding: 60px 16px;
  }

  .skin-benefits-title {
    font-size: 26px;
  }

  .skin-benefits-sub {
    font-size: 14px;
    margin-bottom: 24px;
  }

  
  .benefit-cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  .benefit-card {
    width: 100%;
    max-width: 360px;
    padding: 28px 20px;
  }

  .benefit-icon {
    width: 60px;
    height: 60px;
  }

  .benefit-icon img {
    width: 30px;
    height: 30px;
  }

  .benefit-card h3 {
    font-size: 16px;
  }

  .benefit-card p {
    font-size: 13px;
  }

  
  .blur-left,
  .blur-right {
    width: 170px;
    height: 170px;
    filter: blur(60px);
    opacity: 0.25;
  }





}