/*  Sign in, sign up */ 
.page{
    background-color: #deebd9;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 100px;
    color: #222;
    background-image: url("images/background2.jpg");
    background-size: cover;   
}

.main-title{
    font-family: 'Playfair Display', serif;
    color: #223322; 
    font-size: 28px;
    margin-bottom: 6px;
    text-align: center;
}

.subtitle{
    color: #555;
    font-size: 14px;
    margin-bottom: 24px;
    text-align: center;

}

.card{
    background-color: rgba(255, 255, 255, 0.419);
    width: 500px;
    margin: auto;
    padding: 28px 40px;
    border-radius: 10px;
    box-shadow:
    0 18px 30px rgba(0,0,0,0.12), 
    0 2px 4px rgba(0,0,0,0.06);
    text-align: left;

}

.tabs{
    background: #e1efdf;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    gap:8px;
    
}


.tabs strong{
    flex:1;
    color:  #000;
    text-align: center;
    padding:5px;
    background-color: #f9fbf9a3;
    border-radius: 8px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10), 0 0 18px 6px rgba(0,0,0,0.04);    
}
.tabs a{
    flex:1;
    color: #2ba552;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    padding:5px;

}

.tabs a.not-active.tab:hover {
  text-decoration: underline;
  background-color: #ffffff60;
  box-shadow: inset 0 1px 0 rgba(0,0,0,.03);
  border: 1px solid #cfe4cc;
}

.form-box label{
    display: block;
    font-weight: 500;
    margin-top: 10px;
    font-size: 15px;
    
}

.form-box input{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif; 
    margin-bottom: 20px;
}

.form-box input:focus{
    border-color: #33c05f;
    outline: none;
}

.Form-button{
    background-color: #33c05f;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 12px;
    font-family: 'Poppins' ,sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
    border:1px solid #223322;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.Form-button:hover{
    background-color: #50dd7d;
    cursor: pointer;
}

/*  Homepage */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #eef4ec;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 40px;
  background-color: #EAF3E4;
  border-bottom: 1px solid #D9E3D5;
  font-size: 18px;

}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 600;
  color: #293D33;
}

.nav-links {
  font-family: 'Inter', sans-serif;
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #536056;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #9bd09e;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar{
  position:relative;
  width: 250px;
  height: 40px;
  background-color: #F4F8F2;
  border: 1px solid #D6E4D0;
  border-radius: 30px;
   display: flex;
  align-items: center;
  padding-left: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.search-input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 17px;
  color: #2F3C33;
}



.icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.hero {

   background: linear-gradient(
    to bottom,
     #c7d9c0 0%,   
    #deebd9 60%,
    #eef4ec 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 40px 120px;

  gap:40px;
}

.hero-text {
  flex: 1;
  max-width: 500px;
}

.hero-title {
  font-family: 'Playfair Display', serif;
  font-size: 54px;
  line-height: 1.1;
  font-weight: 600;
  color: #1F352A; 
  margin-bottom: 18px;
}

.hero-title .highlight {
  color: #2F9E4E; 
  margin-bottom: 18px;
}


.hero-sub {
  font-size: 15px;
  color: #6B756D;
  margin-bottom: 28px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-green {
  background-color: #2F9E4E;
  color: white;
  padding: 12px 26px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
}

.btn-green:hover {
  background-color: #236c26;
}

.btn-outline {
  background-color: #eef4ec ;
  border: 1px solid #2a7d2e;
  color: #2a7d2e;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 28px;
  font-weight: 500;
  
}

.btn-outline:hover {
  background-color: #2a7d2e;
  color: white;
}
.hero-img img {
  display: block;
  width: 520px;             
  max-width: 100%;
  border-radius: 32px;
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.18);
}

.top-picks {
  padding: 80px 40px 40px; 
  text-align: center;
 

  margin-top: -50px;

}

.top-picks h2 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: #293D33;
  margin-bottom: 10px;
}

.section-text {
  color: #6B756D;
  max-width: 600px;
  margin: 0 auto 40px;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  max-width: 1080px; 
  margin: 0 auto; 
}

.product {
  background-color: #FFFFFF;
  width: 280px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
  
}

.product:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 24px;
  margin-bottom: 14px;
}

.product-name {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 6px;
}

.product-desc {
  font-size: 13px;
  color: #6B756D;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.product-button {
  background-color: #EAF3E4;
  padding: 10px 20px;
  width: 100%;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 500;
 
}

.product-button:hover {
  background-color: #daebd4;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 40px 80px; 
}

.info-card {
  background-color: #FFFFFF;
  width: 300px;
  padding: 40px 30px;
  border-radius: 40px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
  text-align: center;

  
  display: flex;
  flex-direction: column;
}


.card-title {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  color: #293D33;
  margin-bottom: 10px;
}

.card-text {
  color: #666;
  margin-bottom: 20px;
}

.btn-light {
  border: 1px solid #2F9E4E;
  padding: 10px 24px;
  border-radius: 30px;
  text-decoration: none;
  color: #2F9E4E;
  font-weight: 500;

}

.btn-light:hover {
  background-color: #2a7d2e;
  color: white;
}
/*  footer */ 
.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  background-color: #DDEBD8;
}

.footer-left {
  max-width: 300px;
}

.footer-logo {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: #293D33;
  margin-bottom: 14px;
}

.footer-text {
  color: #6B756D;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links h4 {
  margin-bottom: 12px;
  color: #293D33;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #6B756D;
  font-size: 14px;
}

.footer-links a:hover {
  color: #2F9E4E;
}

.footer-social h4 {
  margin-bottom: 12px;
  color: #293D33;
}
.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons a {
  width: 50px;
  height: 50px;
  background-color: #DDEBD8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}


.social-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.copyright {
  text-align: center;
  padding: 20px;
  color: rgb(60, 58, 58);
  font-size: 14px;
  background-color: #DDEBD8;;
}



.skin-type-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;                
  max-width: 1200px;        
  margin: 60px auto;         
  padding: 0 40px;   
          
}


.skin-type-info {
  flex: 0 0 40%;             
  padding-top: 15px;      
}   



.skin-type-info h4 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #293D33;
    margin-bottom: 10px;
}

.skin-type-info p {
    color: #6B756D;
    font-size: 16px;
    line-height: 1.6;
}

.skin-type-section {
  flex: 0 0 55%;             
  max-width: 650px;
  text-align: center;
  padding: 30px 20px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.18);
  margin: 0;              
}


.skin-type-section h3 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  color: #293D33;
  margin-bottom: 8px;
}



.skin-type-section p {
  color: #6B756D;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.skin-type-btn {
  display: inline-block;
  padding: 12px 28px;
  background-color: #2F9E4E;
  color: white;
  border-radius: 30px;
  font-weight: 500;
  text-decoration: none;
  
}

.skin-type-btn:hover {
  background-color: #236c26;
}


/*  responsive */ 
@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px;
    flex-direction: column;
    gap: 15px;
  }
  
  .hero {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }
  
  .hero-buttons {
    justify-content: center;
  }
  
  .info-cards {
    flex-direction: column;
    align-items: center;
  }
  
  .footer {
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
  }
  
  .footer-links {
    flex-direction: column;
    gap: 30px;
  }
}

/*About Us*/
.about {
  background: linear-gradient(
    to bottom,
     #c7d9c0 0%,   
    #deebd9 60%,
    #e8efe6 100%
  );
  text-align: center;
  padding: 70px 20px;
  border-bottom: 1px solid #defad4;
}
.about h2 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  color: #293D33;
  margin-bottom: 10px;
}

.about p {
  font-size: 15px;
  color: #6B756D;

}
.mission{
  background-color: #EEF4EC;
  text-align:center;
  padding: 100px 30px;
  padding-bottom: 100px;
  border-bottom: 1px solid #dceed6;
  padding-top: 80px;
}
.mission h2{
    font-family:'Playfair Display', serif;
    font-size: 38px;
    color: #293D33;
    margin-bottom: 25px;
}
.mission p{
    font-size: 15px;
    color: #6B756D;
    max-width: 750px;
    margin: 0 auto;
    line-height: 1.8;
}
.whychoose{
    background-color: #eef4ec;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.whychoose h2 {
    font-family: 'Playfair Display',serif;
    font-size: 38px;
    color: #1F352A;
    margin-bottom: 10px;
}
.whychoose p {
    font-size: 15px;
    color: #6B756D;
    margin-bottom: 20px;
}
.features{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}
.feature{
    width: 230px;
    padding: 40px 25px ;
    text-align: center;
    padding-bottom: 150px;
}
.feature img{
  width: 45px;
  height: 45px;
  margin-bottom: 18px; 
}

.feature h3 {
    font-family: 'Playfair Display', serif;
  font-size: 17px;
  color: #1F352A;
  margin-bottom: 10px;
  font-weight: 600;
}

.feature p {
  font-size: 14px;
  color: #6B756D;
  line-height: 1.5;
}


/*  SHOPI*/ 


.shop-body{
  background: linear-gradient(
    to bottom,
     #c7d9c0 0%,   
    #deebd9 60%,
    #eef4ec 100%
  );
  font-family: 'Poppins', sans-serif;
}

.shop-tabs{
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 20px 60px;  
  border-bottom: 1px solid #d6e4d0;
  background-color: #f5f8f3; 

}

.tab-shop{
  text-decoration: none;
  font-size: 17px;
   color: #6b756d; 
  padding: 8px 4px;
  position:relative;
  font-weight: 500;
}

.tab-shop:hover{
  color: #2F9E4E;
}

.tab-active{
  text-decoration: none;
  font-size: 17px;
  padding: 8px 4px;
  position:relative;
  font-weight: 500;
  color: #2F9E4E;
  border-bottom: #d6d6d6 1px solid;
}

.shop-section{
   margin: 40px auto;
   padding: 0 20px;
   
}

.section-title{
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: #293D33;
  margin-bottom: 40px;
 text-align: center;
  
}

.product-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;

}


.product-card{
  width: 350px;         
  background: #fff;
  padding: 16px;
  border-radius: 18px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
  position: relative;  
   
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card.sale {
  border: 2px solid #f3d2cd; 
}

.product-card img{
  width: 100%;
  height:310px;
   border-radius: 14px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.badge-sale{
  position:absolute;
  top:2px;
  left:1px;
  background-color: #f56565;
  padding: 7px 13px;
  border-radius: 100px;
  font-size: 14px;
  color:white;

}

.product-card h3{
  font-size: 17px;
  color:#293D33;
  margin-bottom: 6px;
  min-height: 42px; 
  line-height: 1.25;
 
}

.product-card h3:hover{
  color:#2a7d2e;
  text-decoration: underline;
}


.product-meta{
   font-size: 15px;
   color: #6B756D; 
    margin-bottom: 8px; 

}

.price{
  display:flex;
  flex-wrap:wrap;
  gap:7px;
  font-size: 17px;
  align-items: baseline;

}

.new-price{
  font-weight: 500;
  color: #293D33; 
}

.old-price{
  color: #9aa29c;  
  text-decoration: line-through;
}

.save{
   color: #2F9E4E; 
   font-size: 14px;  
   font-weight:500;
   margin-left:auto;
}


.price-row{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.product-btn{
  padding: 8px 18px;
  border: 1px solid #2F9E4E;
  background-color: beige;
  color:#2F9E4E;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 500;
  cursor:pointer;

}

.product-btn:hover{
  background-color: #2F9E4E;
  color:white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);


}
/*Kontakti*/
.contact-hero {
  text-align: center;
  padding: 70px 20px;
  background: linear-gradient(
    to bottom,
     #c7d9c0 0%,   
    #deebd9 60%,
    #e8efe6 100%
  );
}

.contact-hero h1 {
  font-size: 36px;
  font-family: 'PlayDisplay', serif;
}

.contact-hero p {
  max-width: 600px;
  margin: 10px auto;
  color: #5b6d63;
}

.contact-section {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 80px 40px;
}

.contact-info {
  max-width: 320px;
  margin-left: 50px;
}

.contact-info h2 {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: '';
}
.contact-info p {
  width: 600px;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  color: #1f352aca;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 15px 0;
}
.info-box h3{
  font-family: '';
}
.info-box p {
  font-family: 'Poppins', sans-serif;
  color: #1f352aca;
}

.info-box .icon {
  width: 60px;
  background: #dff0d9;
  padding: 15px;
  border-radius: 50%;
  margin-top: -50px ;
}

.contact-form {
  background: #ffffff;
  padding: 30px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 400px;
}

.contact-form label {
  font-weight: 500;
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #d3ded4;
  border-radius: 6px;
  font-size: 14px;
  background-color: #f9fdf8;
  font-family:'Poppins', sans-serif;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.btn-submit {
  margin-top: 15px;
  padding: 14px;
  background-color: #2ebc6c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #24a15a;
}



